.button--white {
    @include button (#fff);
}

.button--black {
    @include button (#000);
    margin: 60px auto 0px;
}

@media screen and (max-width: 1024px) {
    .button--white {
        @include button1024 (#fff);
    }
    .button--black {
        @include button1024 (#000);
        margin: 45px auto 0px;
    }
}

@media screen and (max-width: 500px) {
    .button--white {
        @include button500 (#fff);
        margin: 45px auto 0px;
    }
    .button--black {
        @include button500 (#000);
        margin: 45px auto 0px;
    }
}