.contacts {
    margin-bottom: 60px;
    &__item {
        font-weight: 300;
        font-size: 1.75rem;
        line-height: 49.66px;
        text-align: center;
    }
}

.contacts__item a {
    color: $main-color;
}

@media screen and (max-width: 1024px) {
    .contacts {
        margin-bottom: 50px;
        &__item {
            font-size: 1.25rem;
            line-height: 35.47px;
        }
    }
}

@media screen and (max-width: 768px) {
    .contacts {
        margin-bottom: 40px;
        &__item {
            font-size: 1.1rem;
            line-height: 31.21px;
        }
    }
}

@media screen and (max-width: 500px) {
    .contacts {
        margin-bottom: 20px;
        &__item {
            font-size: 0.8rem;
            line-height: 21.21px;
        }
    }
}