        .description {
            background-color: $background-color;
            padding: 100px 0;
            &__item {
                text-align: center;
                margin: 0 auto;
                font-weight: 300;
                max-width: 941px;
            }
        }
        
        @media screen and (max-width: 1024px) {
            .description {
                padding: 80px 0;
                &__item {
                    max-width: 602px;
                }
            }
        }
        
        @media screen and (max-width: 768px) {
            .description {
                padding: 70px 0;
                &__item {
                    max-width: 541px;
                }
            }
        }
        
        @media screen and (max-width: 500px) {
            .description {
                padding: 50px 0;
                &__item {
                    max-width: 341px;
                }
            }
        }