footer {
    background-color: #262626;
    padding: 100px 0px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    footer {
        padding: 80px 0 78px;
        &__item {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 70px 0 65px;
        &__item {
            font-size: 0.9rem;
            line-height: 22.55px;
        }
    }
}

@media screen and (max-width: 500px) {
    footer {
        padding: 50px 0 45px;
        &__item {
            font-size: 0.7rem;
            line-height: 18.55px;
        }
    }
}