.img {
    margin: 0px auto;
    max-width: 398px;
}

@media screen and (max-width: 1024px) {
    .img {
        max-width: 282px;
    }
}

@media screen and (max-width: 768px) {
    .img {
        max-width: 251px;
    }
}

@media screen and (max-width: 500px) {
    .img {
        max-width: 151px;
    }
}