         .information {
             padding: 100px 0;
             background-color: $background-color;
             &__item1 {
                 margin: 30px 0 30px;
             }
             &__item2 {
                 max-width: 939px;
             }
         }
         
         @media screen and (max-width: 1024px) {
             .information {
                 padding: 80px 0;
                 &__item2 {
                     max-width: 691px;
                 }
             }
         }
         
         @media screen and (max-width: 768px) {
             .information {
                 padding: 70px 0;
                 &__item1 {
                     margin: 20px 0 20px;
                 }
                 &__item2 {
                     max-width: 626px;
                 }
             }
         }
         
         @media screen and (max-width: 500px) {
             .information {
                 padding: 50px 0;
                 &__item2 {
                     max-width: 426px;
                 }
             }
         }