            .menu {
                display: flex;
                align-items: center;
                &__link {
                    font-size: 1.1rem;
                    line-height: 27.57px;
                    font-weight: 400;
                    color: $main-color;
                    &:hover {
                        transition: linear 1s;
                        color: #ffa60d;
                    }
                    &:not(:last-child) {
                        margin-right: 25px;
                    }
                    &:not(:last-child)::after {
                        content: "";
                        width: 1.5px;
                        height: 16px;
                        display: inline-block;
                        margin-left: 25px;
                        background-color: #D8D5D5;
                    }
                }
            }
            
            @media screen and (max-width: 1024px) {
                .menu {
                    &__link {
                        font-size: 0.9rem;
                        line-height: 22.55px;
                        &:not(:last-child)::after {
                            height: 13px
                        }
                    }
                }
            }
            
            @media screen and (max-width: 500px) {
                .menu {
                    flex-direction: column;
                    &__link {
                        font-size: 0.9rem;
                        &:not(:last-child) {
                            margin: 0px;
                        }
                        &:not(:last-child)::after {
                            display: block;
                            transform: rotate(90deg);
                            margin: 0px auto;
                        }
                    }
                }
            }