.subtitle {
    font-size: 2rem;
    text-align: center;
    line-height: 50.12px;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .subtitle {
        font-size: 1.75rem;
        line-height: 43.68px;
    }
}

@media screen and (max-width: 768px) {
    .subtitle {
        font-size: 1.5rem;
        line-height: 37.59px;
    }
}

@media screen and (max-width: 500px) {
    .subtitle {
        font-size: 1.25rem;
        line-height: 37.59px;
    }
}