.title {
    font-size: 4.25rem;
    line-height: 103px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: $main-color;
    max-width: 920px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 3rem;
        line-height: 73.01px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 2.5rem;
        line-height: 57.65px;
        max-width: 329px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 1.5rem;
        line-height: 35.65px;
        max-width: 229px;
        margin: 0 auto;
    }
}