* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Source Serif Pro', serif;
}

a {
  text-decoration: none;
}

div.background {
  background-image: url(../image/background.jpg);
  background-size: cover;
}

.banner {
  padding: 218px 0 185px;
  text-align: center;
}

.banner__item {
  margin: 35px 0 60px;
  text-align: center;
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 31px;
}

@media screen and (max-width: 1024px) {
  .banner {
    padding: 183px 0 153px;
  }
}

@media screen and (max-width: 1024px) {
  .banner__item {
    font-size: 0.9rem;
    line-height: 22.55px;
    margin-bottom: 63px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 171px 0 99px;
  }
  .banner__item {
    margin-bottom: 66px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 70px 0 60px;
  }
  .banner__item {
    margin: 25px 0 45px;
    font-size: 0.7rem;
    line-height: 18.55px;
  }
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 678px) {
  .box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.button--white {
  font-size: 1rem;
  border: 2px solid #fff;
  line-height: 60px;
  border-radius: 30px;
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 312px;
  height: 60px;
  text-align: center;
  -webkit-transition: 1s linear 1s;
  transition: 1s linear 1s;
}

.button--white:hover {
  background-color: #ffa60d;
  color: #ffffff;
  border: 2px solid #ffa60d;
}

.button--black {
  font-size: 1rem;
  border: 2px solid #000;
  line-height: 60px;
  border-radius: 30px;
  color: #000;
  display: block;
  margin: 0 auto;
  width: 312px;
  height: 60px;
  text-align: center;
  -webkit-transition: 1s linear 1s;
  transition: 1s linear 1s;
  margin: 60px auto 0px;
}

.button--black:hover {
  background-color: #ffa60d;
  color: #ffffff;
  border: 2px solid #ffa60d;
}

@media screen and (max-width: 1024px) {
  .button--white {
    font-size: 0.85rem;
    line-height: 48px;
    width: 248px;
    height: 48px;
  }
  .button--black {
    font-size: 0.85rem;
    line-height: 48px;
    width: 248px;
    height: 48px;
    margin: 45px auto 0px;
  }
}

@media screen and (max-width: 500px) {
  .button--white {
    font-size: 0.65rem;
    line-height: 38px;
    width: 148px;
    height: 38px;
    margin: 45px auto 0px;
  }
  .button--black {
    font-size: 0.65rem;
    line-height: 38px;
    width: 148px;
    height: 38px;
    margin: 45px auto 0px;
  }
}

.contacts {
  margin-bottom: 60px;
}

.contacts__item {
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 49.66px;
  text-align: center;
}

.contacts__item a {
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .contacts {
    margin-bottom: 50px;
  }
  .contacts__item {
    font-size: 1.25rem;
    line-height: 35.47px;
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    margin-bottom: 40px;
  }
  .contacts__item {
    font-size: 1.1rem;
    line-height: 31.21px;
  }
}

@media screen and (max-width: 500px) {
  .contacts {
    margin-bottom: 20px;
  }
  .contacts__item {
    font-size: 0.8rem;
    line-height: 21.21px;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1900px;
  padding: 0px 24px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item {
  width: calc((100% - 2*24px)/2);
  max-width: 924px;
}

.gallery__item:not(:nth-of-type(2n)) {
  margin-right: 24px;
}

.gallery__item:not(:nth-of-type(n+5)) {
  margin-bottom: 24px;
}

.gallery__item img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1440px) {
  .gallery {
    padding: 0px 12px;
  }
  .gallery__item {
    max-width: 696px;
  }
}

@media screen and (max-width: 1024px) {
  .gallery {
    padding: 0px 15px;
  }
  .gallery__item {
    width: calc((100% - 2*10px)/2);
    max-width: 492px;
  }
  .gallery__item:not(:nth-of-type(2n)) {
    margin-right: 10px;
  }
  .gallery__item:not(:nth-of-type(n+5)) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1040px) {
  .gallery__item {
    width: calc((100% - 2*10px)/2);
    max-width: 432px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    padding: 0px 24px;
  }
  .gallery__item {
    width: calc((100% - 2*12px)/2);
    max-width: 354px;
  }
  .gallery__item:not(:nth-of-type(2n)) {
    margin-right: 12px;
  }
  .gallery__item:not(:nth-of-type(n+5)) {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    padding: 0px 14px;
  }
  .gallery__item {
    width: calc((100% - 2*12px)/2);
    max-width: 200px;
  }
}

.description {
  background-color: #f3f7ea;
  padding: 100px 0;
}

.description__item {
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  max-width: 941px;
}

@media screen and (max-width: 1024px) {
  .description {
    padding: 80px 0;
  }
  .description__item {
    max-width: 602px;
  }
}

@media screen and (max-width: 768px) {
  .description {
    padding: 70px 0;
  }
  .description__item {
    max-width: 541px;
  }
}

@media screen and (max-width: 500px) {
  .description {
    padding: 50px 0;
  }
  .description__item {
    max-width: 341px;
  }
}

.dish {
  max-width: 360px;
  width: calc((100% - 2*48px)/3);
  text-align: left;
  position: relative;
}

.dish:not(:last-of-type) {
  margin-right: 48px;
}

.dish__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dish__caption {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 37.59px;
}

.dish__desc {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 22.55px;
  margin: 15px 0;
}

.dish__price {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 22.55px;
}

.dish__item2 {
  margin-top: 35px;
}

.dish--red::before {
  color: #ffffff;
  background-color: #D33B3B;
  content: "HOT";
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 58px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: -29px;
  left: -29px;
}

.dish--green::before {
  color: #ffffff;
  background-color: #b3e151;
  content: "NEW";
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 58px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: -29px;
  left: -29px;
}

.dish--orange::before {
  color: #ffffff;
  background-color: #e5a434;
  content: "HIT";
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 58px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: -29px;
  left: -29px;
}

@media screen and (max-width: 1250px) {
  .dish {
    max-width: 310px;
    width: calc((100% - 2*30px)/3);
  }
  .dish:not(:last-of-type) {
    margin-right: 30px;
  }
  .dish::before {
    font-size: 0.75rem;
    line-height: 40px;
    width: 40px;
    height: 40px;
    top: -20px;
    left: -20px;
  }
}

@media screen and (max-width: 1040px) {
  .dish {
    max-width: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .dish {
    max-width: 253px;
    width: calc((100% - 2*92px)/3);
  }
  .dish:not(:last-of-type) {
    margin-right: 92px;
  }
  .dish::before {
    font-size: 0.6rem;
    line-height: 46px;
    width: 46px;
    height: 46px;
  }
  .dish__item2 {
    margin-top: 15px;
  }
  .dish__caption {
    font-size: 1.25rem;
    line-height: 31.33px;
  }
  .dish__desc {
    font-size: 0.75rem;
    line-height: 18.8px;
    margin: 15px 0 17px;
  }
  .dish__price {
    font-size: 0.75rem;
    line-height: 18.8px;
  }
}

@media screen and (max-width: 1000px) {
  .dish {
    max-width: 220px;
    width: calc((100% - 2*42px)/3);
  }
  .dish:not(:last-of-type) {
    margin-right: 42px;
  }
  .dish::before {
    font-size: 0.75rem;
    line-height: 40px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 800px) {
  .dish {
    max-width: 200px;
    width: calc((100% - 2*32px)/3);
  }
  .dish:not(:last-of-type) {
    margin-right: 32px;
  }
}

@media screen and (max-width: 768px) {
  .dish {
    max-width: 692px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dish:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 58px;
  }
  .dish::before {
    font-size: 0.7rem;
    line-height: 56px;
    width: 56px;
    height: 56px;
  }
  .dish__item2 {
    text-align: left;
    max-width: 348px;
    padding-top: 17px;
    margin-left: 24px;
  }
  .dish__desc {
    font-size: 1rem;
    line-height: 25.06px;
    margin: 20px 0;
  }
  .dish__price {
    font-size: 1rem;
    line-height: 25.06px;
  }
  .dish__img {
    max-width: 320px;
  }
}

@media screen and (max-width: 678px) {
  .dish {
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dish:not(:last-of-type) {
    margin-bottom: 48px;
  }
  .dish__img {
    max-width: 300px;
  }
  .dish__item2 {
    max-width: 300px;
    padding: 0;
    margin: 15px 0 0;
  }
  .dish__caption {
    font-size: 1.25rem;
    line-height: 31.33px;
  }
  .dish__desc {
    font-size: 0.75rem;
    line-height: 18.8px;
    margin: 15px 0;
  }
  .dish__price {
    font-size: 0.75rem;
    line-height: 18.8px;
  }
}

.dishes {
  padding-bottom: 100px;
}

.dishes__item {
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .dishes {
    padding-bottom: 80px;
  }
  .dishes__item {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .dishes {
    padding: 0 24px 70px 52px;
  }
  .dishes__item {
    padding-bottom: 58px;
  }
}

@media screen and (max-width: 678px) {
  .dishes {
    padding: 0px 12px 60px 40px;
  }
  .dishes__item {
    padding-bottom: 28px;
  }
}

.fixed {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 1px solid #ffac1c;
  border-radius: 50%;
  background-color: #ffac1c;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.fixed::before {
  content: "";
  width: 28px;
  height: 12.73px;
  display: block;
  background-image: url(/icons/arrow.png);
  margin: 0 auto;
  margin-top: calc(50% - 6.365px);
}

@media screen and (max-width: 500px) {
  .fixed {
    width: 30px;
    height: 30px;
  }
  .fixed::before {
    margin: 0 auto;
    width: 28px;
    height: 10px;
    margin-top: calc(50% - 5px);
  }
}

footer {
  background-color: #262626;
  padding: 100px 0px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  footer {
    padding: 80px 0 78px;
  }
  footer__item {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  footer {
    padding: 70px 0 65px;
  }
  footer__item {
    font-size: 0.9rem;
    line-height: 22.55px;
  }
}

@media screen and (max-width: 500px) {
  footer {
    padding: 50px 0 45px;
  }
  footer__item {
    font-size: 0.7rem;
    line-height: 18.55px;
  }
}

.gallery-block {
  padding: 100px 0;
}

@media screen and (max-width: 1024px) {
  .gallery-block {
    padding: 80px 0;
  }
}

@media screen and (max-width: 768px) {
  .gallery-block {
    padding: 70px 0;
  }
}

@media screen and (max-width: 500px) {
  .gallery-block {
    padding: 50px 0;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.42);
  padding: 44px 359px 45px 372px;
}

@media screen and (max-width: 1440px) {
  header {
    padding: 44px 118px 45px 132px;
  }
}

@media screen and (max-width: 1024px) {
  header {
    padding: 13px 31px 13px 42px;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 8px 13px 8px 24px;
  }
}

@media screen and (max-width: 500px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8px 20px;
  }
}

.headline {
  font-size: 3.25rem;
  line-height: 81.45px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .headline {
    font-size: 2.5rem;
    line-height: 62.65px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .headline {
    font-size: 2rem;
    line-height: 50.12px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .headline {
    font-size: 1.5rem;
    line-height: 30.12px;
    margin-bottom: 20px;
  }
}

.img {
  margin: 0px auto;
  max-width: 398px;
}

@media screen and (max-width: 1024px) {
  .img {
    max-width: 282px;
  }
}

@media screen and (max-width: 768px) {
  .img {
    max-width: 251px;
  }
}

@media screen and (max-width: 500px) {
  .img {
    max-width: 151px;
  }
}

.information {
  padding: 100px 0;
  background-color: #f3f7ea;
}

.information__item1 {
  padding-bottom: 30px;
}

.information__item2 {
  max-width: 939px;
}

@media screen and (max-width: 1024px) {
  .information {
    padding: 80px 0;
  }
  .information__item2 {
    max-width: 691px;
  }
}

@media screen and (max-width: 768px) {
  .information {
    padding: 70px 0;
  }
  .information__item1 {
    padding-bottom: 20px;
  }
  .information__item2 {
    max-width: 626px;
  }
}

@media screen and (max-width: 500px) {
  .information {
    padding: 50px 0;
  }
  .information__item2 {
    max-width: 426px;
  }
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1190px;
}

@media screen and (max-width: 500px) {
  .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logo {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 62.65px;
  color: #ffffff;
  text-transform: uppercase;
}

.logo:hover {
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  color: #ffa60d;
}

@media screen and (max-width: 1024px) {
  .logo {
    font-size: 1.75rem;
    line-height: 43.86px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    margin-bottom: 15px;
    font-size: 1.5rem;
    margin: 0 auto;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-size: 1.1rem;
  line-height: 27.57px;
  font-weight: 400;
  color: #ffffff;
}

.menu__link:hover {
  -webkit-transition: linear 1s;
  transition: linear 1s;
  color: #ffa60d;
}

.menu__link:not(:last-child) {
  margin-right: 25px;
}

.menu__link:not(:last-child)::after {
  content: "";
  width: 1.5px;
  height: 16px;
  display: inline-block;
  margin-left: 25px;
  background-color: #D8D5D5;
}

@media screen and (max-width: 1024px) {
  .menu__link {
    font-size: 0.9rem;
    line-height: 22.55px;
  }
  .menu__link:not(:last-child)::after {
    height: 13px;
  }
}

@media screen and (max-width: 500px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    font-size: 0.9rem;
  }
  .menu__link:not(:last-child) {
    margin: 0px;
  }
  .menu__link:not(:last-child)::after {
    display: block;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin: 0px auto;
  }
}

.networks {
  padding-top: 60px;
}

.networks a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
}

.networks a:not(:last-child) {
  margin-right: 40px;
}

.networks__face::before {
  content: "";
  width: 15.56px;
  height: 30px;
  display: block;
  background-image: url(/icons/f.png);
  margin: 0 auto;
  margin-top: calc(50% - 15px);
}

.networks__twit::before {
  content: "";
  width: 27.51px;
  height: 22.77px;
  display: block;
  background-image: url(/icons/Vector.png);
  margin: 0 auto;
  margin-top: calc(50% - 11.355px);
}

.networks__inst::before {
  content: "";
  width: 22.01px;
  height: 21.01px;
  display: block;
  background-image: url(/icons/inst.png);
  margin: 0 auto;
  margin-top: calc(50% - 10.505px);
}

.networks a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (max-width: 1024px) {
  .networks {
    padding-top: 47px;
  }
}

@media screen and (max-width: 768px) {
  .networks {
    padding-top: 35px;
  }
}

.portrait {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .portrait {
    padding-bottom: 20px;
  }
}

.slogan {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .slogan {
    font-size: 1.1rem;
    line-height: 30.21px;
  }
}

@media screen and (max-width: 768px) {
  .slogan {
    font-size: 1rem;
    line-height: 30.21px;
  }
}

@media screen and (max-width: 500px) {
  .slogan {
    font-size: 0.9rem;
    line-height: 17.16px;
  }
}

.subtitle {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 30px;
  line-height: 50.12px;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .subtitle {
    font-size: 1.75rem;
    line-height: 43.68px;
  }
}

@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 1.5rem;
    line-height: 37.59px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .subtitle {
    font-size: 1.25rem;
    line-height: 37.59px;
    padding-bottom: 15px;
  }
}

.text {
  font-size: 1.25rem;
  line-height: 31px;
  font-weight: 300;
  text-align: center;
}

.text--grey {
  color: #b1b1b1;
}

@media screen and (max-width: 1024px) {
  .text {
    font-size: 1.1rem;
    line-height: 27.57px;
  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 1rem;
    line-height: 25.06px;
  }
}

@media screen and (max-width: 500px) {
  .text {
    font-size: 0.9rem;
    line-height: 20.06px;
  }
}

.title {
  font-size: 4.25rem;
  line-height: 103px;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #ffffff;
  max-width: 920px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 3rem;
    line-height: 73.01px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2.5rem;
    line-height: 57.65px;
    max-width: 329px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 1.5rem;
    line-height: 35.65px;
    max-width: 229px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */